.products-section {

    margin-top: 8rem;
}

.product {
    background-color: white;
    width: 230px;
    padding: .7rem;
    border-radius: .3rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: var(--transition);
}

.product:hover {
    transition: var(--transition);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2rem 0;
}

@media screen and (max-width : 560px) {
  
    .product {
        margin-top: 2rem;
    }
}