
.swiper {
  width: 50%;
  height: 50%;
}


@media screen and (max-width : 480px) {

    .swiper {
      width: 60%;
      height: 60%;
    }

}

@media screen and (max-width : 320px) {

    .swiper {
      width: 80%;
    }

}