

.service-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}