input, textarea {
    border: none;
    outline: none;
    background-color: rgb(231, 238, 233);
    padding: 1rem;
    border-radius: .5rem;
    width: 100%;
}

form div {
    margin: 1rem 0;
}

textarea {
    height: 200px;
}

.form-section button {

    background-color: var(--secondary-color);
    color: white;
    outline: none;
    border: none;
    padding: .5rem 2rem;
    border-radius: .2rem;
}